@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
  body { @apply bg-zinc-950 text-zinc-100 font-sans; }
}

/* Minimal scrollbar */
* { scrollbar-width: thin; scrollbar-color: #52525b transparent; }
*::-webkit-scrollbar { height: 8px; width: 8px; }
*::-webkit-scrollbar-thumb { background-color: #3f3f46; border-radius: 8px; }
*::-webkit-scrollbar-track { background: transparent; }
::selection { background-color: #3f3f46; color: #ffffff; }
